// This part represents main content


main {
    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        color: #000;
    }
    
    h2, strong {
        font-weight: 400;
        font-size: 1.5rem;
    }
}
// This is header section
.section-header {
   // text-align: center;
}
.section-title {
    line-height: 3rem; // so the icons ar in vertical middle
    display: flex;
    align-items: center;

    h1 {
        width: 100%;
    }

}
.special {
    &-title {
        width: 100%;
        top:0;
        border-radius: 0 0 5px 5px;
    }

    img {
        border-radius: 5px 5px 0 0;
        // border-bottom: 5px solid $green;
        border-bottom: 5px solid;
    }
}
// This is main section
.section-content {  
    figure {
        align-self: center;
        flex: 0 0 50%;
        border-radius: 5px;
    }  
    table {
        display: block;
        flex: 0 0 50%;
        border-collapse: collapse;
    
        th,td {
            width:100%;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

            //Second column of the table
            &:nth-child(2){
                text-align: right;
            }
        }
    
        tr:last-child td {
                border-bottom: none;
        }
    
        p {
            font-size: 1rem;
        };
    }
}

/**
* Media queries
**/

@include media-md {
    .section-content {
        display:flex;

        table {
            padding-left: 1rem;
        }

        th,td {
            padding: 0.5rem;
        }
    }
}

@include media-sm {
    .section-content {
        table {
            padding-top:1rem;
        }
    }
}
