// This part represents main content


main {
    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        color: #000;
    }
    
    h2, strong {
        font-weight: 400;
        font-size: 1.5rem;
    }
}
// This is header section
.section-header {
   // text-align: center;
}
.section-title {
    line-height: 3rem; // so the icons ar in vertical middle
    display: flex;
    align-items: center;

    h1 {
        width: 100%;
    }

}
.special {
    &-title {
       // position:absolute;
        width: 100%;
        top:0;
    }
}
// This is main section
.section-content {  
    figure {
        align-self: center;
        flex: 0 0 50%;
    }  
    table {
        display: block;
        flex: 0 0 50%;
        border-collapse: collapse;
    
        th,td {
            width:100%;
            border-bottom: 1px solid #000;

            //Second column of the table
            &:nth-child(2){
                text-align: right;
            }
        }
    
        tr:last-child td {
                border-bottom: none;
        }
    
        p {
            font-size: 1rem;
        };
    }
}

@include media-md {
    .section-content {
        display:flex;

        table {
            margin-left: 1rem;
        }

        th,td {
            padding: 0.5rem;
        }
    }
}
